<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Man8OutMovie</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <script src="/js/echarts.min.js"></script>
    <script src="/js/VipLabel.js"></script>




</head>
<body>
<div class="navbar">
    <div class="left-links">
        <a th:href="@{/index}">主页</a>
        <a th:href="@{/rank}">电影</a>
        <a th:href="@{/search}">搜索</a>
    </div>

    <div class="right-links">

        <a id="vip-tag" style="display: none;">VIP</a>
        <a id="noVip-tag" style="display: none;">普通</a>
        <div th:if="${session.user}">
            <span style="margin-left: 50px;margin-right: 50px; color: white" th:text="'欢迎:   '+${session.user.getUsername()} "></span>
            <span id="head_span1">
                 <a th:href="@{/toLogOut(returnUrl=${httpServletRequest.requestURI + (httpServletRequest.queryString != null ? '?' + httpServletRequest.queryString : '')})}">退出</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            </span>
        </div>

        <div th:unless="${session.user}">
            <span id="head_span2">
                <a th:href="@{/toLoginPage(returnUrl=${httpServletRequest.requestURI + (httpServletRequest.queryString != null ? '?' + httpServletRequest.queryString : '')})}">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a th:href="@{/toRegisterPage(returnUrl=${httpServletRequest.requestURI + (httpServletRequest.queryString != null ? '?' + httpServletRequest.queryString : '')})}">注册</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            </span>
        </div>
    </div>
</div>




</body>
</html>