<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>用户登录界面</title>

    <script src="js/jquery-3.4.1.js"></script>
    <script>
        $(function(){
            $("#btn").click(function(){

                var username=$("input[name='username']").val();
                var password=$("input[name='password']").val();
                var returnUrl= $('#returnUrl').data('returnUrl');

               $.post("/doLogin",{"username":username,"password":password},function(result){
                   if(result !=null) {
                       alert(result[0]);
                       if (result[0]==="登录成功!") {
                            if (returnUrl == null || returnUrl === "")
                                window.location.href = "/index";
                            else
                                window.location.href = returnUrl;
                       }
               }
               });
               return false;
            });
        })
    </script>
</head>
<body class="text-center">
<div id="returnUrl" th:attr="data-return-url=${returnUrl}">返回</div>

<!--  用户登录form表单 -->
<div class="form-signin">
    <img class="mb-4" th:src="@{/login/img/login.jpg}" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">请登录</h1>
    <input type="text" th:placeholder="#{login.username}" name="username" class="form-control" placeholder="用户名" required="" autofocus="">
    <input type="password" th:placeholder="#{login.password}" name="password" class="form-control" placeholder="密码" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> [[#{login.rememberme}]]
        </label>
    </div>
    <button id="btn" class="btn btn-lg btn-primary btn-block" th:text="#{login.button}">登录</button>
    <p class="mt-5 mb-3 text-muted">© <span th:text="${currentYear}">2018</span>-<span th:text="${currentYear}+1">2019</span></p>
    <a class="btn btn-sm" th:href="@{/toLoginPage(l='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/toLoginPage(l='en_US')}">English</a>


</div>
</body>
</html>
