<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Likes Chart</title>
    <script src="js/echarts.min.js"></script>
    <style>
        #main {
            margin:auto
        }
    </style>
    <script>

    </script>



</head>



<body>
<main>
    <table style="background-color: #c0c0c0;width: 100%;">
        <tr style="line-height: 40px">
            <td colspan=3 style="align-content: center">
                <a th:href="'/index'" style="text-decoration:none;margin-left: 100px;"><span style=" color:black; font-weight:bold; font-size:medium;">主页</span></a>
                <a th:href="'/rank'" style=" text-decoration:none;margin-left: 100px;"><span style=" color:black; font-weight:bold; font-size:medium;">电影</span></a>
                <a  style=" text-decoration:none;margin-left: 100px;"><span style=" color:black; font-weight:bold; font-size:medium;">电视剧</span></a>
                <a  style=" text-decoration:none;margin-left: 100px;"><span style=" color:black; font-weight:bold; font-size:medium;">综艺</span></a>
                <a  style=" text-decoration:none;margin-left: 100px;"><span style=" color:black; font-weight:bold; font-size:medium;">动漫</span></a>
            </td>
        </tr>
    </table>
    <table style="margin-top:20px;width: 1100px;border-width: 1px;border-style: dotted;"align="center">
        <td rowspan=8 width=200><img th:src="'/image/'+${movie.image}"></td>
        <td colspan=2 align=center height=100><div style='font-weight:bold;font-size:medium;height:60px;line-height:60px;color:#000066;text-align:center;border-width:1px;  border-style:solid;border-color:black;'>
            <span th:text="${movie.name}"><font size="5">电影名</font></span></div>
        </td>
        <tr>
            <td width=40 style="text-align: center;"><font size=3 color="gray">类型：</font></td>
            <td><font size=2 th:text="${movie.genre}"/></td>
        </tr>
        <tr>
            <td width=40><font size=3 color="gray">地区：</font></td>
            <td><font size=2 th:text="${movie.region}"/></td>
        </tr>
        <tr>
            <td width=40><font size=3 color="gray">导演：</font></td>
            <td><font size=2 th:text="${director}"/></td>
        </tr>
        <tr>
            <td width=40><font size=3 color="gray">主演：</font></td>
            <td><font size=2 th:text="${actors}"/></td>
        </tr>
        <tr>
            <td width=40><font size=3 color="gray">简介：</font></td>
            <td><font size=2 th:text="${movie.introduce}"/></td>
        </tr>
        <tr>
            <td style="width: 200px;height: 100px;">
                <button style="font-size: 3px; width: 80px; height: 40px;">播放</button>
            </td>
        </tr>
    </table>
</main>



</body>
</html>
